:root {
  font-family: "Yekan";
  src: url("assets/fonts/yekanbakh-semibold.TTF");
  src: url("assets/fonts/yekanbakh-regular.TTF");

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #0ebcce;
  --primary-dark-color: #109baa;
  --highlight-color: #dcf3f5;
  --side-highlight-color: #dcf3f526;
  --dark-color: #101010;
  --lavendar-color: #ba98ed;
  --blue-color: #88b5e8;
  --aqua-color: #a6dfd7;
  --green-color: #9cf29c;
  --yellow-color: #f1ea8b;
  --orange-color: #fac896;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Yekan";
  src: url("assets/fonts/yekanbakh-semibold.TTF");
  src: url("assets/fonts/yekanbakh-regular.TTF");
}
